@font-face {
    font-family: awesomeFont;
    src: url(assets/fontawesome-webfont.woff) format('woff');
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:    #c7c3be;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:   #c7c3be;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:   #c7c3be;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:    #c7c3be;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fefdf9;
    color: #7c7975;
    margin: 0;
    width: 722px;
    height: 434px;
    font-size:12pt;
}

div.upperCardSection{
    position:relative;
    background-color:#f2f1ed;
    height:207px;
    width:722px;
}

div.scoreboardSection{
    position:relative;
    height:87px;
    width:722px;
}
div.reset{
    position:relative;
    float:right;
    margin-top:20px;
    width:42px;
    height:67px;

}
i.icon-repeat{
    color:#c7c3be;
}
i.icon-repeat:hover{
    color:#7c7975;
}
div.timer{
    position:relative;
    float:right;
    width:90px;
    height:67px;
    margin-top:20px;
    margin-right:20px;
    line-height:22px;
    text-align:left;

}
div.timer span{
    font-family: Arial;
    font-size:16px;
    color:#7c7975;
}
div.cardReel{
    position:relative;
    width:1444px;
    height:120px;
}
div.categorySection{
    position:relative;
    background-color:#fefdf9;
    height:227px;
    width:722px;
}

div.card{
    position:relative;
    float:left;
    height:94px;
    width:94px;
    background-color:#ffffff;
    border: 1px solid #c7c3be;
    margin-left:12px;
}


div.newCard{
    position:relative;
    float:left;
    height:94px;
    width:94px;
    margin-left:12px;
    border: 1px dotted #c7c3be;
    background-color: #f2f1ed;
}

div.newCard > input{
    margin-left:4px;
    margin-top:35px;
    height:18px;
    width:84px;
    background-color: #f2f1ed;
    border: 1px solid #c7c3be;
    border-style:none;
    text-align:center;
    font-size:14px;
}

i.killCard{
    position:absolute;
    top:2px;
    right:3px;
    visibility: hidden;
}

div.card:hover i.killCard{
    visibility: visible;
}

div.card:first-child{
    margin-left:30px;
}

div.card > input{
    margin-left:4px;
    margin-top:35px;
    height:18px;
    width:84px;
    border: 1px solid #c7c3be;
    border-style:none;
    text-align:center;
    font-size:14px;
}



div.categories{
    position:relative;
    float:left;
    width:159px;
    height:175px;
    margin-top:25px;
    margin-left:12px;

}
div#category1{
    margin-left:30px;
    background-color:#f8ddae;
}
div#category2{
    background-color:#d0ecea;
}
div#category3{
    background-color:#daedfb;
}
div#category4{
    background-color:#f8e8e9;
}

div.categoryHeader{
    position:relative;
    width:159px;
    height:30px;
}
div#category1 > .categoryHeader{
    background-color:#f3c77b;
}
div#category2 > .categoryHeader{
    background-color:#5bc9c1;
}
div#category3 > .categoryHeader{
    background-color:#74b6e8;
}
div#category4 > .categoryHeader{
    background-color:#f69fa4;
}
div.categoryHeader > input{
    position:relative;
    width:150px;
    margin-left:4px;
    margin-top:3px;
    height:20px;
    text-align:center;
    font-size:16px;
    color:#c7c3be;
}

div.categoryHeader > i{
    position:absolute;
    z-index:3;
    right:4px;
    top:2px;
    text-align:center;
    font-size:24px;
    color:#7c7975;
    visibility:hidden;
}
div.categoryHeader > h2{
    position:absolute;
    width:159px;
    margin:0px;
    font-size:16px;
    line-height:20px;
    bottom:4px;
    text-align:center;
}

div.categories:hover i{
    visibility: visible;
}





