@font-face {
    font-family: awesomeFont;
    src: url(assets/fontawesome-webfont.woff) format('woff');
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:    #c7c3be;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:   #c7c3be;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:   #c7c3be;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:    #c7c3be;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fefdf9;
    color: #7c7975;
    margin: 0;
    width: 756px;
    height: 434px;
    font-size:12pt;
}

.upperCardSection{
    position:relative;
    background-color:#f2f1ed;
    height:207px;
    width:756px;
}

.scoreboardSection{
    position:relative;
    height:87px;
    width:756px;
}

.cardReel{
    position:relative;
    width:756px;
    height:120px;
}
.categorySection{
    position:relative;
    background-color:#fefdf9;
    height:227px;
    width:756px;
}

.card{
    position:relative;
    float:left;
    height:94px;
    width:94px;
    background-color:#ffffff;
    border-color: #7c7975;
    border-width: .5pt;
}

.card > input{
    height:18px;
    width:84px;
    border-color: #c7c3be;
    border-width: .5pt;
}

.categories{
    padding-top:25px;
    padding-left:12px;
}
.categories:first-child{
    padding-left:30px;
}


